body{
	margin:8;
	padding: 0;
}

h1{	
  font-size: 1.2em;
  font-family: Century Gothic, sans-serif;
  background-color:black;
  font-style: bold;
}

h2{ 
  font-size: 0.2em;
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-style: bold;
}

h3{
  font-size: 0.8em;
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

h4{
  color: black;
  font-size: 2.2em;
  font-family: Century Gothic, sans-serif;
  font-style: bold;
  background-color: lightgrey;
}

p{
  font-size: 0.85em;
  text-align: left;
}




* {box-sizing:border-box}

.top {
  max-width: 1224px;
  position: relative;
  margin: auto;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1224px;
  height: 581px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(251,176,64);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

svg {
  padding-bottom: 92%;
  height: 1px;
  width: 100%;
  overflow: visible;
}













